@charset "utf-8";
html {
    font-size: 100px;
    font-weight: 400;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-weight: 400
}

body,
input,
label,
select,
option,
textarea,
button,
fieldset,
legend,
td,
th,
caption {
    background-color: transparent;
    font-weight: 400;
    color: #3a3d40;
    font-size: 16px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

a,
button {
    color: #3a3d40;
    text-decoration: none;
    cursor: pointer;
    border: 0
}

img,
audio,
canvas,
video,
fieldset {
    border: 0;
    display: inline-block
}

ol,
ul,
li {
    list-style: none
}

input,
textarea,
select,
button {
    outline: 0
}

table {
    border-collapse: collapse
}

html {
    min-width: 100%;
    min-height: 100%
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block
}

.none {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0; 
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.banselect {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}